# MkDocs build output
/site/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store

# LaTeX aux files
slides/*.aux
slides/*.log
slides/*.out
slides/*.nav
slides/*.snm
slides/*.toc
slides/*.vrb
slides/*.synctex.gz
